body{
    margin: 0;
    padding: 0;
    background-color: burlywood;
}

.header{
    background-color:burlywood ;  
}

.conteiner h1{ 
    display: flex;
    justify-content: center;
    margin-bottom: 10%; 
}

.Palavras{
    margin-left: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

.Palavras input{
    width: 2%;
}


input:disabled {
    background: #ccc;
  }